<div class="container" style="margin: 20px; width: 100%;height: 500px;">
    <div class="row">
        <div class="col-md-6">
            <img src="images/nikfinal.jpg" alt="Nikunj Photo" width="400" height="400">
        </div>
        <div class="col-md-6">
            <center style="font-size: 24px;">About Me</center>
            <ul>
                <li>Hello I am Nikunj Patel. I Completed my Diploma Cource from A P J Abdul Kalam University in Computer Science Engineering.</li>
                <li>After That i desided to start my Career in programming Field but i feel that i need to learn Some thing new from this Field in depth.</li>
                <li>So i desided to continue My study in Georgian College,Barrie in the course of Computer Programming.</li>
            </ul>
        </div>
    </div>
</div>