<div class="container" style="width: 100%;height: 500px;">
    <div class="row">
        <div class="col-md-4" style="padding: 10px;">

            <div class="card">
                <img src="images/notes.jpg" style="width:300px; height: 300px;">
                <div class="container">
                    <h4><b>To do List</b></h4>
                    <p>App to note todo list.</p>
                </div>
            </div>

        </div>
        <div class="col-md-4" style="padding: 10px;">

            <div class="card">
                <img src="images/pass.jpg" alt="Avatar" style="width:300px; height: 300px;">
                <div class="container">
                    <h4><b>Password Manager</b></h4>
                    <p>Application to store Username and Password</p>
                </div>
            </div>

        </div>
        <div class="col-md-4" style="padding: 10px;">

            <div class="card">
                <img src="images/search.jpg" alt="Avatar" style="width:300px; height: 300px;">
                <div class="container">
                    <h4><b>Search Movie</b></h4>
                    <p>Application to filter the Application by keywords.</p>
                </div>
            </div>

        </div>
    </div>

</div>